@import 'tailwindcss';

@config '../../tailwind.config.ts';

@layer utilities {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --gold: '#9C874C';
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  }
}

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

@theme {
  --spacing-gapSpace: 1.5rem;
  --spacing-gapSpaceL: 2.5rem;

  --color-coral: #b06d74;
  --color-green: #0c412f;
  --color-beige: #eae6e3;
  --color-lightBeige: #f5f3f2;
  --color-grey: darkgrey;
  --color-gold: #9c874c;
}

@utility bg-small-left-top {
  background-position: 100% 50%;
}
@utility bg-large-left-top {
  background-position: 560% 100%;
}
@utility bg-small-right-top {
  background-position: 0% 50%;
}
@utility bg-small-center {
  background-position: 50% 50%;
}
@utility bg-small-left {
  background-position: 100% 50%;
}
@utility bg-large-left {
  background-position: 560% 50%;
}
@utility bg-small-right {
  background-position: 0% 50%;
}
@utility bg-large-right {
  background-position: -450% 50%;
}
@utility bg-small-bottom-right {
  background-position: 0 100%;
}
@utility bg-small-bottom-left {
  background-position: 100% 100%;
}

p:not(:last-child) {
  margin-bottom: 1rem;
}

b,
strong {
  font-weight: 200;
}

button:focus-visible,
input:focus-visible,
a:focus-visible {
  outline: 2px solid #9c874c;
  border-radius: 4px;
  outline-offset: 4px;
}

.herogradient {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.4780287114845938) 0%,
    rgba(0, 0, 0, 0) 68%,
    rgba(255, 255, 255, 0) 100%
  );
}

.fat {
  font-weight: 400;
}
.testimonial {
  width: 20rem;
  color: black;
  font-size: 1.25rem;
  font-weight: 300;
  padding: 20px;
  text-align: center;
}
.testimonial::before,
.testimonial::after {
  content: '"';
  font-family: var(--font-ephesis);
  font-size: 3rem;
  color: #9c874c;
  display: block;
  width: 100%;
  line-height: 1rem;
  text-align: center;
}
.testimonial::after {
  margin-top: 20px;
}
.testimonialtitle {
  margin-bottom: 1rem;
  display: block;
  color: rgba(20, 20, 20, 0.8);
}

.imagetext {
  margin-top: 1rem;
  display: block;
  font-style: italic;
}

.imagetext-inline {
  margin-top: 1rem;
  font-style: italic;
  display: inline;
}
.imagetext-inline > a {
  font-size: inherit;
}

@keyframes page-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
}
.animate-page-bounce {
  animation: page-bounce 0.8s ease-in-out;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.animate-bounce {
  animation: bounce 1.5s infinite;
}

.card {
  perspective: 800px;
}

.content {
  transform-style: preserve-3d;
}

.flipped {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #b06d74;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}
