@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gold: '#9C874C'
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

p:not(:last-child) {
  margin-bottom: 1rem;
}

b,
strong {
  font-weight: 700;
}

button:focus,
input:focus,
a:focus {
  outline: 2px solid #9C874C;
  border-radius: 4px;
  outline-offset: 4px;
}

.herogradient{
  background: linear-gradient(0deg, rgba(0,0,0,0.4780287114845938) 0%, rgba(0,0,0,0) 68%, rgba(255,255,255,0) 100%);
}
